<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Herois</title>
</head>
<body>
    <h1>Lista de Heróis (API Externa)</h1>
<ul>
    {% for heroi in herois %}
        <li>
            <strong>{{ heroi.name }}</strong> - {{ heroi.biography.fullName }}
            <br>
            <img src="{{ heroi.images.sm }}" alt="{{ heroi.name }}">
        </li>
    {% endfor %}
</ul>

</body>
</html>