<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Heróis</title>
</head>
<body>
    {% for heroi in herois %}
    <h1>{{ heroi.nome|upper }}</h1>
    <ul>
        <li>{{ heroi.nome }}</li>
        <li>{{ heroi.alter_ego }}</li>
        <li>{{ heroi.editora }}</li>
        <a href="{% url 'editar_heroi' heroi.pk %}">Editar</a> <!--Update-->
        <a href="{% url 'deletar_heroi' heroi.pk %}">Deletar Herói</a> <!--Delete-->
    </ul>
    {% endfor %}
    <a href="{% url 'cadastro_heroi' %}">Cadastrar Herói</a> <!--Link para cadastrar + 1 herói-->
</body>
</html>