<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Equipes</title>
</head>
<body>
    <h1>Lista de Equipes</h1>

    {% for equipe in equipes %}
        <h2>{{ equipe.nome|upper }}</h2>
        <ul>
            <li><b>Nome da Equipe:</b> {{ equipe.nome }}</li>
            <li><b>Membros da Equipe:</b> {{ equipe.membros}}</li>
        </ul>
         <a href="{% url 'confirmar_deletar_equipe' equipe.pk %}">Deletar Equipe</a> <!--Delete-->
         <a href="{% url 'editar_equipe' equipe.pk %}">Editar Equipe</a> <!--Edit-->
    </ul>
        <hr>
    {% endfor %}
    <a href="{% url 'busca_equipe' %}">Cadastrar Equipe</a> <br>
    <a href="{% url 'home_equipe' %}">Voltar para o Home</a>

</body>
</html>