<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Heróis por Ano</title>
</head>
<body>
    <h2>Busque Heróis pelo Ano</h2>
    <form action="{% url 'buscar_ano' %}" method="get">
        <label for="ano">Digite o ano:</label>
        <input type="text" name="ano" id="ano" required>
        <button type="submit">Buscar</button>
    </form>

    <br>
    <a href="{% url 'lista_ano' %}">Ver histórico de buscas</a><br>
    <a href="{% url 'home' %}">Voltar para o Home</a>
</body>
</html>